*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0b0b0b;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:400px;
    background:#1a1a1a;
    border:2px solid red;
    border-radius:15px;
    padding:30px;
    text-align:center;
    box-shadow:0 0 20px red;
}

h1{
    color:red;
    margin-bottom:20px;
    font-size:40px;
}

.mission{
    font-size:18px;
    margin-bottom:25px;
    line-height:1.5;
}

.timer{
    font-size:28px;
    color:#00ff00;
    margin-bottom:25px;
    font-weight:bold;
}

#timer{
    color:yellow;
}

.bomb{
    font-size:80px;
    margin-bottom:25px;
    animation:shake 0.7s infinite;
}

@keyframes shake{

0%{transform:rotate(-5deg);}
25%{transform:rotate(5deg);}
50%{transform:rotate(-5deg);}
75%{transform:rotate(5deg);}
100%{transform:rotate(-5deg);}

}

#codeInput{
    width:100%;
    padding:15px;
    font-size:22px;
    text-align:center;
    border:none;
    border-radius:8px;
    outline:none;
    margin-bottom:20px;
}

#defuseBtn{
    width:100%;
    padding:15px;
    font-size:20px;
    background:red;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}

#defuseBtn:hover{
    background:darkred;
}

#message{
    margin-top:25px;
    font-size:22px;
    font-weight:bold;
  }
